.home {
    background-color: #ffffffed;
    opacity: 2;
}
 
.no-tasks {
    color: #000;
    font-size: 22px;
}

.no-span {
    color: rgb(0, 211, 18);
    font-weight: bold;
}

.task-cal-cont {
    display: flex;
    flex-direction: row;
}

.task-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.show-cal-btn {
    display: none;
}

.close-cal-btn {
    display: none;
}

.btns-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.showall-btn {
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: 0.3s;
}

.showall-btn:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }
  

.task-box-cont {
    background-color: #fffbf3;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.task-box-cont:hover {
    transform: scale(1.05);
}
/** Animated Add Task Button  **/

.button {
    border: none;
}
  
.c-button.add-task {
    background: linear-gradient(140deg, rgba(75, 118, 200, 1) 0%, rgba(31, 70, 145, 1) 100%);
    border-radius: 45px;
    font-size: 25px;
    text-align: left;
    padding: 11px 0px 11px 0px;
    border: 4px solid rgb(37, 37, 37) !important;
    border-style: outset;
    box-shadow: -6px -5px 18px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
  
.c-button.add-task .c-main {
    border-radius: 45px;
    color: rgba(255, 255, 255, 1);
    padding: 11px 25px 11px 2px;
    box-shadow: inset 0px 0px 5px rgba(17, 17, 17, 0);
    transition: all 0.5s ease-in-out;
    border: 1px solid transparent;
}
  
.c-ico .c-blur {
    background: linear-gradient(318deg, rgba(75, 118, 200, 1) 0%, rgba(31, 70, 145, 1) 100%);
    border-radius: 100%;
    margin-left: 0;
    padding: 8px 23px;
    filter: blur(1px);
    text-align: center;
}
  
.c-ico {
    position: relative;
    margin-right: 20px;
}
  
.c-ico .ico-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
  
  /* Hovering */
  
.c-button.add-task .c-main:hover {
    box-shadow: inset 0px 0px 5px rgba(17, 17, 17, 0.6);
    border: 1px solid rgba(26, 26, 26, 0.5);
    color: rgba(255, 255, 255, 0.5);
}
.calendar-cont {
    margin-left: 30px;
    padding-top: 30px;
}

.calendar-cont-mobile {
    display: none;
}

@media (max-width: 780px) {
    .calendar-cont{
        display: none;
    }
    .show-cal-btn {
        display: block;
        background-color: transparent;
        color: #ff9d00;
        font-weight: bold;
        border: 2px solid #000;
        height: 50px;
        width: 170px;
        margin-left: 50px;
    }

    .close-cal-btn{
        display: block;
        background-color: #ff9900e2;
        color: #ffffff;
        font-weight: bold;
        height: 50px;
        width: 170px;
        margin-left: 50px;
    }
  
    .calendar-cont-mobile {
        display: block;
    }
    .btn-text{
        display: none;
    }
    .task-cal-cont{
        display: flex;
        flex-direction: column-reverse;
    }
    .calendar-cont {
        order: 1;
    }
    .task-list-container {
        order: 0;
    }

}

/* Popup Form To Add Tasks */

.popup-form-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-label {
    color: black;
    font-weight: 500;
    font-size: 22px;
}

.input-title {
    height: 35px;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.input-desc {
    height: 150px;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

.create-task-btn {
    background-color: rgb(39, 154, 255);
    color: #fff;
}

.close-btn {
    align-self: flex-end;
    background-color: transparent;
    color: black;
    font-size: 24px;
    margin-top: 0px;
    border-radius: 10px;
}

/** **/

.task-main-cont {
    margin-left: 50px;
    margin-bottom: 20px;
    width: 70%;
}

.task-list-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 20px;
}

.task-box-cont {
    background-color: #ffcc8a;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.task-box-cont:hover {
    transform: scale(1.05);
}

.task-title {
    font-size: 18px;
    font-weight: bold;
    color: #d000ff;
    margin-bottom: 10px;
}

.task-desc {
    font-size: 16px;
    color: #555555;
    margin-bottom: 10px;
    font-weight: 500;
}

.task-status {
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
}

.status-results {
    color: rgb(0, 177, 27);
    font-weight: bold;
}

.task-updated {
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
}

.updated-res {
    color: rgb(0, 8, 255);
    font-weight: 500;
}

.deadline-res {
    color: red;
    font-weight: bold;
}

.task-status-select {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

.update-status {
    cursor: pointer;
    height: 30px;
    width: 150px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #65aae7;
    outline: none;
}

.task-heading {
    font-weight: bold;
    font-size: 28px;
    color: rgb(73, 0, 245);
}

.tittle-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.delete-btn{
    all: unset;
    font-size: 28px;
    margin-left: 10px;
    cursor: pointer;
    padding-top: 5px;
}

/* Loader */

/* From Uiverse.io by SchawnnahJ */ 
.loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
   }
   
   .loader:before, .loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
   }
   
   .loader:before {
    animation: before8 2s infinite;
   }
   
   .loader:after {
    animation: after6 2s infinite;
   }
   
   @keyframes before8 {
    0% {
     width: 0.5em;
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    35% {
     width: 2.5em;
     box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }
   
    70% {
     width: 0.5em;
     box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    100% {
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   }
   
   @keyframes after6 {
    0% {
     height: 0.5em;
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   
    35% {
     height: 2.5em;
     box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }
   
    70% {
     height: 0.5em;
     box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }
   
    100% {
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   }
   
   .loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
   }